<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="RetirementCalculatorTest"  verbose="4">
    <classes>
     
      <class name="com.qa.preretirementcalculator.tests.RetirementCalculatorTest"/>
    </classes>
  </test> 
</suite> 
